body {
    background-color: powderblue;
    font-family: "Comic Sans MS", Times, serif;
}
h1 {
    color: blue;
    text-align: center;
}
a {
    color: red;
}
div {
  width: 800px;
  margin:0 auto;
}
